//==========[ header ]==========
header {
    position: relative;
    display: flex;
    height: 62px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 2px 5px #d0d0d0;
    .back {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        left: 0;
        width: 70px;
        height: 100%;
        i {
            font-weight: 900;
        }
    }
}